.slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 450px;
  background: linear-gradient(
    97.77deg,
    rgba(245, 245, 245, 0.5) -23.46%,
    rgba(245, 245, 245, 0.5) 107.51%
  );
  margin: 0 auto;
  box-shadow: 3px 3px 10px 0 #ccc;
}

.labels {
  display: flex;
  flex-direction: column;
  margin: 68px auto 85px 40px;
}

.labels .labels__big {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  color: #3d3d3d;
  margin: 0;
}

.labels .labels__small {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d3d3d;
}

.labels .labels__content {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
}

.labels .labels__big_green {
  color: #46a358;
}

.slider-wrapper__img {
  display: flex;
  align-items: flex-end;
  height: 450px;
}

.slider-wrapper__img .small_plant {
  width: 135px;
  height: 135px;
  margin: 298px 0 37px 55px;
}

.slider-wrapper__img .big_plant {
  height: 100%;
}

.labels__link {
  text-decoration: none;
  color: #ffffff;
  font-family: Cera Pro;
  font-style: normal;
}
